<app-card color="bank" [interactable]="false" [marginYPx]="15">
  <app-row justifyContent="space-between">
    <div>
      <app-simple-text [text]="'Loan ID : '+loanRequest.id" color="bank" [bold]="true"></app-simple-text>
      @if (viewFromBank) {
        <app-simple-text [text]="'User : '+loanRequest.user!.pseudo" color="bank" [bold]="true"></app-simple-text>
      }
    </div>
    <app-status-indicator [color]="statusColor" [text]="statusText"></app-status-indicator>
  </app-row>

  <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>

  <app-card-container>
    <app-simple-card color="bank" direction="column" alignItems="center">
      @if (isWaitingForClient) {
        <app-input color="bank" [control]="moneyControl" type="number"></app-input>
      }
      <app-data-with-text
        color="bank"
        text="Amount Requested"
        [data]="isWaitingForClient ? '' : loanRequest.money"
        [dataIsNumber]="true"
        [unit]="isWaitingForClient ? '' : '€'"
        dataTextAlign="center"
      ></app-data-with-text>
    </app-simple-card>

    <app-simple-card color="bank" direction="column" alignItems="center">
      @if(isWaitingForClient) {
        <app-input color="bank" [control]="weeklyPaymentControl" type="number"></app-input>
      }
      <app-data-with-text
        color="bank"
        text="Weekly Payment"
        [data]="isWaitingForClient ? '' :  loanRequest.weeklypayment"
        [dataIsNumber]="true"
        [unit]="isWaitingForClient ? '' : '€'"
        dataTextAlign="center"
      ></app-data-with-text>
    </app-simple-card>

    <app-simple-card color="bank" direction="column" alignItems="center">
      @if (isWaitingForClient) {
        <app-input color="bank" type="number" [control]="rateControl"></app-input>
      }
      @if (loanRequest.rate) {
        <app-data-with-text
          color="bank"
          text="Interest Rate"
          [data]="isWaitingForClient ? '' : loanRequest.rate"
          [dataIsNumber]="true"
          [unit]="isWaitingForClient ? '' : '%'"
          dataTextAlign="center"
        ></app-data-with-text>
      } @else {
        <app-data-with-text
          color="bank"
          text="Interest Rate"
          [data]="isWaitingForClient ? '' : 'Undefined'"
          dataTextAlign="center"
        ></app-data-with-text>
      }
    </app-simple-card>

    <app-simple-card color="bank">
      <app-data-with-text
        color="bank"
        text="Loan Term"
        [data]="nbWeekToPay"
        [dataIsNumber]="true"
        dataTextAlign="center"
        unit=" weeks"
      ></app-data-with-text>
    </app-simple-card>
  </app-card-container>

  <app-simple-card color="bank" direction="column" class="card-description">
    <app-simple-text color="bank" text="Description" [fontSizePx]="18" [bold]="true"></app-simple-text>
    <app-simple-text [text]="loanRequest.description"></app-simple-text>
    @if (isWaitingForClient) {
      <app-textarea color="bank" placeholder="Complete loan description" [control]="descriptionControl"></app-textarea>
    }
  </app-simple-card>

  @if (loanRequest.status == "paying") {
    <app-simple-card color="bank" direction="column" class="card-description">
      <app-simple-text color="bank" text="Repayment Progress" [fontSizePx]="18" [bold]="true"></app-simple-text>
      <app-row justifyContent="space-between">
        <app-simple-text [text]="'Paid : '+loanRequest.alreadyPayed.toLocaleString()+'€'"></app-simple-text>
        <app-simple-text [text]="'Remaining : '+((loanRequest.money - loanRequest.alreadyPayed).toLocaleString())+'€'"></app-simple-text>
      </app-row>
      <app-progress-bar
        color="bank"
        [maxValue]="loanRequest.money"
        [value]="loanRequest.alreadyPayed"
        [darkBackGroundColor]="true"
      ></app-progress-bar>
    </app-simple-card>
  }

  <app-error-text [text]="actionError" textAlign="center"></app-error-text>

  <app-row justifyContent="space-around">
    @if (isWaitingForClient) {
      <app-button [label]="viewFromBank ? 'Deny Loan' : 'Cancel Loan'" color="casino" (clicked)="cancelLoanRequest()"></app-button>
      <app-button label="Update Loan" color="bank" (clicked)="updateLoanRequest()"></app-button>
    }
    @if(loanRequest.status == 'approved' && !viewFromBank) {
      <app-button label="Accept Loan" color="green" (clicked)="acceptLoanRequest()"></app-button>
    }
    @if(loanRequest.status == 'wait on bank' && viewFromBank && loanRequest.rate != null) {
      <app-button label="Approve Loan" color="green" (clicked)="approveLoanRequest()"></app-button>
    }
  </app-row>
</app-card>
