<app-page-title title="Dashboard"></app-page-title>

<app-card-container
    [cardBaseSizePx]="350"
    [paddingXPx]="20"
>
    <app-dashboard-card
        icon="🏢"
        cardTitle="My Businesses"
        text="Manage your companies, view profits, and expand your business empire across different cities."
        [datas]="[
                {data: companiesCount, text: 'Active', unit: '', dataIsNumber: true},
            ]"
        (clicked)="clickOnCompanyCard()"
    ></app-dashboard-card>

    <app-dashboard-card
        icon="⛏️"
        cardTitle="My Mines"
        text="Control your mining operations, harvest resources, and upgrade your mining equipment."
        [datas]="[
                {data: minesCount, text: 'Active Mines', unit: '', dataIsNumber: true},
                {data: totalResources, text: 'Resources', unit: 'kg', dataIsNumber: true}
            ]"
        (clicked)="clickOnMineCard()"
    ></app-dashboard-card>

    <app-dashboard-card
        icon="🏙️"
        cardTitle="My City"
        text="Explore your current city to discovers businesses, travel to new locations, and discover business opportunities."
        [datas]="[
                {data: cityName, text: 'Current City', unit: '', dataIsNumber: false},
            ]"
        (clicked)="clickOnCityCard()"
    ></app-dashboard-card>

    <app-dashboard-card
        icon="🏠"
        cardTitle="My Houses"
        text="Manage your homes, upgrade your living space, and access your personal storage. You also can expose your best
trophies."
        [datas]="[
                {data: homeCount, text: 'Home Count', unit: '', dataIsNumber: true},
            ]"
        (clicked)="clickOnHomeCard()"
    ></app-dashboard-card>

    <app-dashboard-card
        icon="🛒"
        cardTitle="Market"
        text="Get a detailed view of all the resources you own. You will be able to see the selling price
        of all resources and sell your own."
        [datas]="[
                {data: totalResources, text: 'Resources', unit: 'kg', dataIsNumber: true},
            ]"
        (clicked)="clickOnMarketCard()"
    ></app-dashboard-card>

    <app-dashboard-card
      icon="🎰"
      cardTitle="Your Casino Tickets"
      text="Access the list of all the casino tickets you own. You can then go play at the casino to try to win lots of money."
      [datas]="[
                  {data: casinoTicketsCount, text: 'Tickets Count', unit: '', dataIsNumber: true},
              ]"
      (clicked)="clickOnCasinoTickets()"
    ></app-dashboard-card>

    <app-dashboard-card
      icon="💵"
      cardTitle="Your Bank Accounts"
      text="See all your bank accounts and manage them. You can see your money or resources on all your bank accounts."
      [datas]="[
                    {data: activeBankAccount, text: 'Active Bank Account', unit: '', dataIsNumber: true},
                ]"
      (clicked)="clickOnBankAccounts()"
    ></app-dashboard-card>


</app-card-container>
