<label [for]="name">{{ label }}</label>
@if (isSelect) {
  <select [id]="name" [formControl]="control" [name]="name" [ngClass]="{'fit-content': fitContentSelect}">
    @for (option of options; track $index) {
      <option [value]="option['value']">{{ option["label"] }}</option>
    }
  </select>
} @else {
  <input
    [id]="name" [type]="type" [placeholder]="placeholder" [formControl]="control" [name]="name"
    [attr.max]="max" [attr.min]="min" [style.background-color]="themeColorService.inputBGColor(color)"
    [style.color]="themeColorService.inputTextColor(color)" [style.text-align]="textAlign" [style.font-size]="fontSizePx+'px'"
    [style.font-weight]="isBold ? 'bold' : 'normal'"
  >
}
