<app-card color="black" [glassCard]="true" [interactable]="false">
    <app-row alignItems="center" [gapPx]="35">
        <app-icon icon="⛏️" [fontSize]="3"></app-icon>
        <div>
            <app-title [text]="'Mine '+mine.id" color="white"></app-title>
            <app-level-pin [level]="mine.level" ></app-level-pin>
            <app-status-indicator [text]="mineService.getStatus(mine)" textColor="white" [color]="mineService.getStatusColor(mine)"></app-status-indicator>
            <app-row [marginPx]="15" [gapPx]="35">
                <app-data-with-text [data]="mine.hourlyIncome" text="Efficiency" [dataIsNumber]="true" unit="€/h" color="black" [lightText]="true" dataTextAlign="center"></app-data-with-text>
                <app-data-with-text [data]="mine.resource?.mineQuantity" text="Quantity" [dataIsNumber]="true" unit="kg" color="black" [lightText]="true" dataTextAlign="center"></app-data-with-text>
            </app-row>
        </div>
    </app-row>
</app-card>

<app-card [bordered]="false" [interactable]="false" [glassCard]="true" [paddingPx]="25">
    <app-subtitle [text]="'Mining '+mine.resource!.name" color="white"></app-subtitle>
    <app-simple-text [text]="getLeftTimeText()+' remaining'" [isLight]="true"></app-simple-text>
    <app-progress-bar [value]="mine.resource!.timeToMine - mineService.getMinuteLeft(mine)" [maxValue]="mine.resource!.timeToMine"></app-progress-bar>
    @if (mineService.getMinuteLeft(mine) <= 0) {
        <app-button label="Collect Resources" class="collect-button" (clicked)="sendCollectResource()"></app-button>
    }
</app-card>

@if (mine.level !== mineConfig.maxMineLevel) {
    <app-card [bordered]="false" [interactable]="false" [glassCard]="true" [paddingPx]="25" alignItems="center" [gapPx]="10">
        <app-icon icon="⬆️" [fontSize]="3"></app-icon>
        <app-subtitle text="Upgrade Mine" color="white"></app-subtitle>
        <app-simple-text text="Unlock new resources" [isLight]="true"></app-simple-text>
        <app-button [label]="'Upgrade to Level '+(mine.mineLevel!.level+1)+' for '+mine.mineLevel!.priceForNextLevel.toLocaleString()+'€'" color="black" (clicked)="sendUpgradeMine()"></app-button>
    </app-card>
}

@if (resources) {
    <app-card [interactable]="false" [bordered]="false" [glassCard]="true">
        <app-title text="Available Resources" color="white"></app-title>
        <app-card-container>
            @for (resource of resources; track $index) {
                <app-card [interactable]="false" [bordered]="false" [glassCard]="true" [darkGlassCard]="true">
                    <app-subtitle-with-icon [subtitle]="resource.name" [icon]="emojiResource(resource.id)" color="white" [inRow]="true"></app-subtitle-with-icon>
                    <app-row justifyContent="space-around">
                        <app-data-with-text [data]="resource.timeToMine / 60" unit="h" [dataIsNumber]="true" color="black" text="Mining Time" [lightText]="true" dataTextAlign="center"></app-data-with-text>
                        <app-data-with-text [data]="resource.mineQuantity" unit="kg" [dataIsNumber]="true" color="black" text="Quantity" [lightText]="true" dataTextAlign="center"></app-data-with-text>
                    </app-row>
                    @if (!mine.resource) {
                        <app-button label="Start Mining" [paddingYPx]="5" [paddingXPx]="10" (clicked)="sendStartMining(resource.id)"></app-button>
                    }
                </app-card>
            }
        </app-card-container>
    </app-card>
}