app-level-pin {
    display: block;
    margin: 15px 0;
}
app-progress-bar {
    margin-top: 15px;
}
app-button {
    width: -webkit-fill-available;
    margin: 10px 30px;
}
.collect-button {
    margin: 20px 50px;
}