<div
    [class]="{'bordered': bordered, 'glass-container': glassCard, 'interactable': interactable,
    'dark-glass-container': (glassCard && darkGlassCard), 'colored-glass': glassColor !== null,
    'defined-border': border != null}"
    [style.padding]="paddingPx+'px'"
    [style.align-items]="alignItems"
    [style.margin]="marginYPx+'px '+marginXPx+'px'"
    [style.gap]="gapPx+'px'"
    (click)="clickOnCard()"
    [style.border-color]="colorService.simpleColor(color)"
    [style.border-radius]="borderRadiusPx+'px'"
>
    <ng-content></ng-content>
</div>
