<app-company-dashboard-header companyType="Casino" [buttonLinks]="buttonLinks"></app-company-dashboard-header>

<app-simple-card direction="column" color="casino" [marginXPx]="20" [marginPx]="10">
  <app-themed-title title="⚙️ Configuration" color="casino"></app-themed-title>
  <!-- Ticket Price -->
  <form>
    <div>
      <app-input label="Ticket Price" type="number" color="casino"
        [control]="getFormControl('ticketPrice')"></app-input>
      <app-simple-text [text]="'Max price : '+(casinoLevel.maxTicketPrice ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="VIP Ticket Price" type="number" color="casino-vip"
        [control]="getFormControl('VIPTicketPrice')"></app-input>
      <app-simple-text [text]="'Max price : '+(casinoLevel.maxVIPTicketPrice ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <app-error-text [text]="configurationError" *ngIf="configurationError != ''"></app-error-text>
    <app-simple-text [text]="configurationUpdate" color="green" *ngIf="configurationUpdate != ''"></app-simple-text>

    <app-button label="Update Casino Configuration" color="casino-regular"
      (clicked)="updateConfiguration()"></app-button>
  </form>

  <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>
  <!-- Roulette Config -->
  <app-themed-title title="🎰 Roulette Configuration" color="casino"></app-themed-title>
  <form>
    <div>
      <app-input label="Roulette Sequence Multiplicator" type="number" color="casino"
        [control]="getRouletteFormControl('rouletteSequenceMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for sequence (e.g. 123, 567, 987...)" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Roulette Triplet Multiplicator" type="number" color="casino"
        [control]="getRouletteFormControl('rouletteTripletMultiplcator')"></app-input>
      <app-simple-text text="Win multiplicator for triplet (e.g. 111, 222, 999...)" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Roulette Triple 7 Multiplicator" type="number" color="casino"
        [control]="getRouletteFormControl('rouletteTripleSeventMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for triple 7 (777)" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for roulette" type="number" color="casino"
        [control]="getRouletteFormControl('rouletteMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.rouletteMaxBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Roulette VIP Sequence Multiplicator" type="number" color="casino-vip"
        [control]="getRouletteFormControl('rouletteVIPSequenceMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for sequence (e.g. 123, 567, 987...) for VIP players"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Roulette VIP Triplet Multiplicator" type="number" color="casino-vip"
        [control]="getRouletteFormControl('rouletteVIPTripletMultiplcator')"></app-input>
      <app-simple-text text="Win multiplicator for triplet (e.g. 111, 222, 999...) for VIP players"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Roulette VIP Triple 7 Multiplicator" type="number" color="casino-vip"
        [control]="getRouletteFormControl('rouletteVIPTripleSeventMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for triple 7 (777) for VIP players" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for roulette for VIP" type="number" color="casino-vip"
        [control]="getRouletteFormControl('rouletteMaxVIPBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.rouletteMaxVIPBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <app-error-text [text]="rouletteConfigError" *ngIf="rouletteConfigError != ''"></app-error-text>
    <app-simple-text [text]="rouletteConfigUpdate" color="green" *ngIf="rouletteConfigUpdate != ''"></app-simple-text>

    <app-button label="Update Roulette Configuration" color="casino-regular"
      (clicked)="updateRouletteConfiguration()"></app-button>
  </form>

  <!-- Dice Config -->
  @if (casinoDashboardData.info.level >= 2) {
    <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>
  <app-themed-title title="🎲 Dice Configuration" color="casino"></app-themed-title>
  <form>
    <div>
      <app-input label="Dice Goal" type="number" color="casino" [control]="getDiceFormControl('diceGoal')"></app-input>
      <app-simple-text text="Goal to reach for dice game" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Dice Win Multiplicator" type="number" color="casino"
        [control]="getDiceFormControl('diceWinMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for dice game" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for dice" type="number" color="casino"
        [control]="getDiceFormControl('diceMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.diceMaxBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Dice VIP Goal" type="number" color="casino-vip"
        [control]="getDiceFormControl('diceVIPGoal')"></app-input>
      <app-simple-text text="Goal to reach for dice game for VIP players" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Dice VIP Win Multiplicator" type="number" color="casino-vip"
        [control]="getDiceFormControl('diceVIPWinMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for dice game for VIP players" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for dice for VIP" type="number" color="casino-vip"
        [control]="getDiceFormControl('diceVIPMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.diceMaxVIPBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <app-error-text [text]="diceConfigError" *ngIf="diceConfigError != ''"></app-error-text>
    <app-simple-text [text]="diceConfigUpdate" color="green" *ngIf="diceConfigUpdate != ''"></app-simple-text>

    <app-button label="Update Dice Configuration" color="casino-regular"
      (clicked)="updateDiceConfiguration()"></app-button>
  </form>
  }

  <!-- Poker Config -->
  @if(casinoDashboardData.info.level >= 3) {
    <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>
  <app-themed-title title="🃏 Poker Configuration" color="casino"></app-themed-title>
  <form>
    <div>
      <app-input label="Nothing Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('nothingMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for nothing (high card)" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="One Pair Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('onePairMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for one pair" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Two Pair Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('twoPairMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for two pair" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Three of a Kind Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('threeOfAKindMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for three of a kind" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Straight Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('straightMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for straight" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Flush Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('flushMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for flush" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Full House Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('fullHouseMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for full house" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Four of a Kind Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('fourOfAKindMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for four of a kind" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Straight Flush Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('straightFlushMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for straight flush" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Royal Flush Multiplicator" type="number" color="casino"
        [control]="getPokerFormControl('royalFlushMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for royal flush" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for poker" type="number" color="casino"
        [control]="getPokerFormControl('pokerMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.pokerMaxBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Nothing VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('nothingVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for nothing (high card) for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="One Pair VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('onePairVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for one pair for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Two Pair VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('twoPairVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for two pair for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Three of a Kind VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('threeOfAKindVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for three of a kind for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Straight VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('straightVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for straight for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Flush VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('flushVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for flush for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Full House VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('fullHouseVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for full house for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Four of a Kind VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('fourOfAKindVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for four of a kind for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Straight Flush VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('straightFlushVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for straight flush for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Royal Flush VIP Multiplicator" type="number" color="casino-vip"
        [control]="getPokerFormControl('royalFlushVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for royal flush for VIP" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for poker for VIP" type="number" color="casino-vip"
        [control]="getPokerFormControl('pokerMaxVIPBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.pokerMaxVIPBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <app-error-text [text]="pokerConfigError" *ngIf="pokerConfigError != ''"></app-error-text>
    <app-simple-text [text]="pokerConfigUpdate" color="green" *ngIf="pokerConfigUpdate != ''"></app-simple-text>

    <app-button label="Update Poker Configuration" color="casino-regular"
      (clicked)="updatePokerConfiguration()"></app-button>
  </form>
  }

  @if(casinoDashboardData.info.level >= 4) {
  <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>
  <!-- Blackjack Config -->
  <app-themed-title title="🃏 Blackjack Configuration" color="casino"></app-themed-title>
  <form>
    <div>
      <app-input label="Blackjack Win Multiplicator" type="number" color="casino"
        [control]="getBlackjackFormControl('blackJackWinMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for blackjack" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Blackjack Multiplicator" type="number" color="casino"
        [control]="getBlackjackFormControl('blackJackMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for normal win" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for blackjack" type="number" color="casino"
        [control]="getBlackjackFormControl('blackJackMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.blackJackMaxBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Blackjack VIP Win Multiplicator" type="number" color="casino-vip"
        [control]="getBlackjackFormControl('blackJackVIPWinMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for blackjack for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Blackjack VIP Multiplicator" type="number" color="casino-vip"
        [control]="getBlackjackFormControl('blackJackVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for normal win for VIP" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Blackjack Win Multiplicator" type="number" color="casino"
        [control]="getBlackjackFormControl('blackJackWinMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for blackjack" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Blackjack Multiplicator" type="number" color="casino"
        [control]="getBlackjackFormControl('blackJackMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for normal win" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for blackjack" type="number" color="casino"
        [control]="getBlackjackFormControl('blackJackMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.blackJackMaxBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Blackjack VIP Win Multiplicator" type="number" color="casino-vip"
        [control]="getBlackjackFormControl('blackJackVIPWinMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for blackjack for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Blackjack VIP Multiplicator" type="number" color="casino-vip"
        [control]="getBlackjackFormControl('blackJackVIPMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for normal win for VIP" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for blackjack for VIP" type="number" color="casino-vip"
        [control]="getBlackjackFormControl('blackJackVIPMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.blackJackMaxVIPBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <app-error-text [text]="blackjackConfigError" *ngIf="blackjackConfigError != ''"></app-error-text>
    <app-simple-text [text]="blackjackConfigUpdate" color="green" *ngIf="blackjackConfigUpdate != ''"></app-simple-text>

    <app-button label="Update Blackjack Configuration" color="casino-regular"
      (clicked)="updateBlackjackConfiguration()"></app-button>
  </form>
  }

  @if(casinoDashboardData.info.level >= 5) {
  <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>
  <!-- Roulette2 Config -->
  <app-themed-title title="🎯 Classic Roulette Configuration" color="casino"></app-themed-title>
  <form>
    <div>
      <app-input label="Straight Up Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2StraigthUpMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for straight up" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Split Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2SplitMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for split" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Street Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2treetMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for street" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Corner Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2CornerMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for corner" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Six Line Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2SixLineMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for six line" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Column Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2ColumnMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for column" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Dozen Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2DozenMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for dozen" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Odd/Even Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2OddEvenMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for odd/even" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Red/Black Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2RedBlackMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for red/black" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Middle Multiplicator" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2MiddleMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for middle (1-18/19-36)" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for roulette" type="number" color="casino"
        [control]="getRoulette2FormControl('roulette2MaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.roulette2MaxBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Straight Up VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPStraigthUpMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for straight up for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Split VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPSplitMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for split for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Street VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPtreetMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for street for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Corner VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPCornerMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for corner for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Six Line VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPSixLineMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for six line for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Column VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPColumnMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for column for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Dozen VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPDozenMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for dozen for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Odd/Even VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPOddEvenMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for odd/even for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Red/Black VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPRedBlackMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for red/black for VIP" [isLight]="true"></app-simple-text>
    </div>
    <div>
      <app-input label="Middle VIP Multiplicator" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPMiddleMultiplicator')"></app-input>
      <app-simple-text text="Win multiplicator for middle (1-18/19-36) for VIP" [isLight]="true"></app-simple-text>
    </div>

    <div>
      <app-input label="Maximum bet for roulette for VIP" type="number" color="casino-vip"
        [control]="getRoulette2FormControl('roulette2VIPMaxBet')"></app-input>
      <app-simple-text [text]="'Max you can set is : '+(casinoLevel.roulette2MaxVIPBet ?? 0).toLocaleString()+'€'"
        [isLight]="true"></app-simple-text>
    </div>

    <app-error-text [text]="roulette2ConfigError" *ngIf="roulette2ConfigError != ''"></app-error-text>
    <app-simple-text [text]="roulette2ConfigUpdate" color="green" *ngIf="roulette2ConfigUpdate != ''"></app-simple-text>

    <app-button label="Update European Roulette Configuration" color="casino-regular"
      (clicked)="updateRoulette2Configuration()"></app-button>
  </form>
  }

</app-simple-card>


<app-simple-text text="e" [style.opacity]="1"></app-simple-text>
