header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;

    h1 {
      font-size: min(6vw, 3rem);
    }

    div {
        display: flex;
        align-items: center;
        gap: 10px;
      h3 {
        font-size: min(3vw, 1.5rem);
      }
    }

    button {
        border-radius: 10px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 4px 4px;
        margin: 5px;
        font-weight: bold;
        cursor: pointer;
        max-width: 100px;
        transition: transform 0.3s ease, background 0.3s ease;
        &:hover {
            transform: translateY(-2px);
            background: rgba(255, 255, 255, 0.3);
        }
    }
}
