<app-page-title title="⛏️ My Mines"></app-page-title>
<app-page-subtitle text="Manage your mining operations and extract valuable resources" [isLight]="true"></app-page-subtitle>

<app-row justifyContent="space-around" [gapPx]="30" [wrap]="true">
    <app-card [bordered]="false" [glassCard]="true" alignItems="center" [interactable]="false">
        <app-icon icon="🏗️"></app-icon>
        <app-data-with-text text="Total Mines" [data]="totalMines" [dataIsNumber]="true" color="white" dataTextAlign="center" [lightText]="true"></app-data-with-text>
    </app-card>

    <app-card [bordered]="false" [glassCard]="true" alignItems="center" [interactable]="false">
        <app-icon icon="⚡"></app-icon>
        <app-data-with-text text="Active Mines" [data]="activeMines" [dataIsNumber]="true" color="white" dataTextAlign="center" [lightText]="true"></app-data-with-text>
    </app-card>

    <app-card [bordered]="false" [glassCard]="true" alignItems="center" [interactable]="false">
        <app-icon icon="💎"></app-icon>
        <app-data-with-text text="Total Resources" [data]="resourceSum" [dataIsNumber]="true" color="white" dataTextAlign="center" unit="kg" [lightText]="true"></app-data-with-text>
    </app-card>

    <app-card [bordered]="false" [glassCard]="true" alignItems="center" [interactable]="false">
        <app-icon icon="💰"></app-icon>
        <app-data-with-text text="Hourly Income" [data]="totalHourlyIncome" [dataIsNumber]="true" color="white" dataTextAlign="center" unit="€/h" [lightText]="true"></app-data-with-text>
    </app-card>
</app-row>

<app-card-container>
    @for (mine of mines; track $index) {
        <app-mine-card [mine]="mine" (click)="navigateToMine(mine.id)"></app-mine-card>
    }
    @if (mines.length < mineConfig.maxNbMine) {
        <app-card [glassCard]="true" color="black" glassColor="green" alignItems="center" [paddingPx]="25" [gapPx]="10" (clicked)="buyNewMine()">
            <app-icon icon="➕" [fontSize]="5"></app-icon>
            <app-subtitle text="Buy New Mine" color="white"></app-subtitle>
            <app-subtitle [text]="mineConfig.priceForNewMine[mines.length+1].toLocaleString()+'€'" color="green"></app-subtitle>
            <app-simple-text text="Expand your mining operations with a new extraction site" [isLight]="true" textAlign="center"></app-simple-text>
            <app-error-text [text]="buyError" textAlign="center" [fontSizePx]="20"></app-error-text>
        </app-card>
    }
</app-card-container>