@if(casinoDashboardData) {
<app-config-casino-template [casinoDashboardData]="casinoDashboardData" [configurationUpdate]="casinoConfigUpdate"
  [configurationError]="casinoConfigError" (onSaveConfiguration)="saveConfiguration($event)"
  [rouletteConfigUpdate]="rouletteConfigUpdate" [rouletteConfigError]="rouletteConfigError"
  (onSaveRouletteConfiguration)="saveRoulette($event)" [diceConfigUpdate]="diceConfigUpdate"
  [diceConfigError]="diceConfigError" (onSaveDiceConfiguration)="saveDice($event)"
  [pokerConfigUpdate]="pokerConfigUpdate" [pokerConfigError]="pokerConfigError"
  (onSavePokerConfiguration)="savePoker($event)" [blackjackConfigUpdate]="blackjackConfigUpdate"
  [blackjackConfigError]="blackjackConfigError" (onSaveBlackjackConfiguration)="saveBlackjack($event)"
  [roulette2ConfigUpdate]="roulette2ConfigUpdate" [roulette2ConfigError]="roulette2ConfigError"
  (onSaveRoulette2Configuration)="saveRoulette2($event)"></app-config-casino-template>
}