@if(casinoDashboardData) {
<app-config-casino-template [casinoDashboardData]="casinoDashboardData" [configurationUpdate]="casinoConfigUpdate"
  [configurationError]="casinoConfigError" (onSaveConfiguration)="saveConfiguration($event)"
  [rouletteConfigUpdate]="rouletteConfigUpdate" [rouletteConfigError]="rouletteConfigError"
  (onSaveRouletteConfiguration)="saveRoulette($event)" [diceConfigUpdate]="diceConfigUpdate"
  [diceConfigError]="diceConfigError" (onSaveDiceConfiguration)="saveDice($event)"></app-config-casino-template>
}