:host {
    background-color: var(--backgroundColor);
    border-radius: 15px;
    border: solid 1px var(--borderColor);
    text-align: var(--align);
    display: flex;
    flex-direction: var(--direction);
    min-width: var(--min-width);
    margin: var(--margin);
    margin-left: var(--marginX);
    margin-right: var(--marginX);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

:host.interactable {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(147, 51, 234, 0.1);
  }
}
