<app-card color="bank" [interactable]="false">
  <app-row alignItems="flex-end">
    <app-icon icon="💳"></app-icon>
    <app-simple-text text="Transfer Money" color="bank" [fontSizePx]="20" [bold]="true"></app-simple-text>
  </app-row>

  <form>
    <app-input
      color="bank"
      label="Destination Account ID"
      [control]="destAccountIDControl"
      type="number"
    ></app-input>

    <app-input
      color="bank"
      label="Amount (€)"
      [control]="amountControl"
      type="number"
    ></app-input>
  </form>

  <app-simple-card color="black" [paddingYPx]="10" [paddingPx]="10">
    <app-simple-text color="black" [text]="'⚠️ Transfer fee ('+bankAccount.transferCost.toLocaleString()+'%) will be applied to withdrawals'"></app-simple-text>
  </app-simple-card>

  <app-error-text [text]="transactionError" textAlign="center"></app-error-text>

  <app-button
    color="bank"
    label="Transfer Money"
    (clicked)="transferMoney()"
    class="final-button"
  ></app-button>
</app-card>
