<app-card
 color="mafia" [glassCard]="true" glassColor="mafia" [interactable]="false"
 border="none"
>
  <app-row justifyContent="space-between" alignItems="center">
    <app-row alignItems="center" [gapPx]="10" [style.max-width]="'250px'">
      <app-icon [icon]="robTypeIcon" [fontSize]="2"></app-icon>
      <app-themed-title [title]="title ?? robTitle" color="mafia" [fontSizePx]="20"></app-themed-title>
    </app-row>
    @if (targetLevel) {
      <app-level-pin [level]="targetLevel" color="mafia"></app-level-pin>
    }
  </app-row>

  <app-seperator-with-text [marginPx]="20"></app-seperator-with-text>

  <app-row alignItems="center" justifyContent="space-between">
    <app-simple-text text="Success Rate" [isLight]="true"></app-simple-text>
    <app-row [style.max-width]="'300px'" alignItems="center" justifyContent="flex-end" [gapPx]="10">
      <app-simple-text [text]="successRate+'%'" [isLight]="true"></app-simple-text>
      <app-progress-bar [value]="successRate" [maxValue]="100" [maxWidthPx]="200"></app-progress-bar>
    </app-row>
  </app-row>
  <app-seperator-with-text [marginPx]="10" [style.opacity]="'0.4'"></app-seperator-with-text>
  <app-row alignItems="center" justifyContent="space-between">
    <app-simple-text text="Steal Amount" [isLight]="true"></app-simple-text>
    @if (fixedStealAmount) {
      <app-simple-text [text]="fixedStealAmount.toLocaleString() + stealAmountUnit" [isLight]="true"></app-simple-text>
    } @else {
      <app-simple-text [text]="minStealAmount+'-'+maxStealAmount+stealAmountUnit" [isLight]="true"></app-simple-text>
    }
  </app-row>
  <app-seperator-with-text [marginPx]="10" [style.opacity]="'0.4'"></app-seperator-with-text>
  @if (stealAmountUnit == '%') {
    <app-row alignItems="center" justifyContent="space-between">
      <app-simple-text text="Maximum" [isLight]="true"></app-simple-text>
      <app-simple-text [text]="maximumValue ? maximumValue.toLocaleString()+'€' : 'No Limit'" [isLight]="true"></app-simple-text>
    </app-row>
    <app-seperator-with-text [marginPx]="10" [style.opacity]="'0.4'"></app-seperator-with-text>
  }
  @if (targetDescription) {
    <app-row alignItems="center" justifyContent="space-between">
      <app-simple-text text="Target" [isLight]="true"></app-simple-text>
      <app-simple-text [text]="targetDescription" [isLight]="true"></app-simple-text>
    </app-row>
    <app-seperator-with-text [marginPx]="10" [style.opacity]="'0.4'"></app-seperator-with-text>
  }
  <app-row alignItems="center" justifyContent="space-between">
    <app-simple-text text="Cooldown" [isLight]="true"></app-simple-text>
    <app-simple-text [text]="cooldownInDays ? cooldownInDays.toLocaleString()+' days' : 'None'" [isLight]="true"></app-simple-text>
  </app-row>

  @if (showButton) {
    <app-seperator-with-text [marginPx]="10" [style.opacity]="'0.4'"></app-seperator-with-text>
    <app-button label="Select Target" color="mafia" [style.width]="'-webkit-fill-available'"
    (click)="onClickSelectTarget(getTargetType(), targetId)"></app-button>
  }
</app-card>
